<section class="perfil-data__container">
  <form class="perfil-data__form" #formulario="ngForm"  (ngSubmit)="guardarDatosPerfil()">
    
    <div class="perfil-data__input">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" [(ngModel)]="perfil.nombre" #nombre="ngModel" minlength="5" required>
      <p class="error" *ngIf="nombre.invalid && nombre.touched">Ingrese un nombre válido</p>
    </div>
    
    <div class="perfil-data__input">
      <label for="direccion">Direccion</label>
      <input type="text" name="direccion" id="direccion" [(ngModel)]="perfil.direccion" #direccion="ngModel" minlength="8" required>
      <p class="error" *ngIf="direccion.invalid && direccion.touched">Ingrese una dirección válida</p>
    </div>

    <div class="perfil-data__input">
      <label for="notas">Notas</label>
      <input type="text" name="notas" id="notas" [(ngModel)]="perfil.detalleEntrega" #notas="ngModel">
    </div>

    <div class="perfil-data__input">
      <label for="telefono">Teléfono</label>
      <input type="tel" name="telefono" id="telefono" [(ngModel)]="perfil.telefono" #telefono="ngModel" minlength="9" required>
      <p class="error" *ngIf="telefono.invalid && telefono.touched">Ingrese un Teléfono válido</p>
    </div>

    <button [disabled]="formulario.invalid">Guardar</button>

  </form>
</section>