<footer class="">
  <nav>
    <ul class="tabs__container">
      <!--cubiertos-->
      <li
        class="tab-icon tabs__home"
        [routerLink]="['/']"
        routerLinkActive="tabs__selcted"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>Home</span>
      </li>

      <!--Lupas-->
      <li
        class="tab-icon tabs__search"
        [routerLink]="['/buscar']"
        routerLinkActive="tabs__selcted"
      >
        <span>Buscar</span>
      </li>
      <!--carrito-->
      <li
        class="tab-icon tabs__cart"
        [routerLink]="['/carrito']"
        routerLinkActive="tabs__selcted"
      >
        <span>Carrito</span>
      </li>
      <!--Perfil-->
      <li
        class="tab-icon tabs__profile"
        [routerLink]="['/perfil']"
        routerLinkActive="tabs__selcted"
      >
        <span>Perfil</span>
      </li>
    </ul>
  </nav>
</footer>
