@import 'variables.scss';
@import 'mixin.scss';

.tab-icon {
  padding: .4rem;
  @include full-center;
  align-items: end;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center 8px;
  height: 52px;
  font-weight: 400;
  color: $font-color;
  font-weight: 600;
  font-size: .8rem;
}

.tabs {
  &__container {
    background-color: $white-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__home { background-image: url('/assets/icons/home.png') }
  &__search { background-image: url('/assets/icons/search.png') }
  &__cart { background-image: url('/assets/icons/cart.png') }
  &__profile { background-image: url('/assets/icons/profile.png') }

  &__selcted {
    border-radius: 12px 12px 0 0;
    background-color: #e0f4ff;
    transition: 0.2s;
    filter: hue-rotate(45deg);
    transition: .2s ease-in-out;
  }
}

