@import 'variables.scss';
@import 'mixin.scss';

.cart {
  &__container {
    padding: 1rem;
    &-products {
      display: grid;
      gap: 0.625rem;
    }
  }
  &__product {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: .2rem;
    background: #FFF;
    font-size: 0.8rem;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.2);
    gap: 0.4rem;
    border-radius: 0.4rem;
    &-img {
      width: 4.8rem;
      aspect-ratio: 1;
      background-size: cover;
      border-radius: 4px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-price {
      font-size: 1.2rem;
      font-weight: 600;
    }
    &-btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      button {
        @include app-button(
          $btn-danger-color,#FFF,
          $btn-border-danger-color);
        display: grid;
        place-content: center;
        margin: 0;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1;
        border: 0;
          .pi {
            font-size: 2rem;
          }
        }
    }
  }
}

// h2 {
//   font-size: xx-large;
//   text-align: center;
//   margin-top: 50px;
// }

// #tarjeas-container {
//   display: flex;
//   flex-direction: column;
//   gap: 15px;
//   border-radius: $border-radius;
//   overflow: hidden;
// }
.tarjeta-producto-container {
  position: relative;
  display: flex;
  height: 100px;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
}

#izq {
  width: 35%;
  background-size: cover;
  background-position: center;
  border-radius: $border-radius;
  > div {
    position: absolute;
    bottom: 10px;
    left: 10px;
    img {
      height: 20px;
      background-color: $main-theme-color;
      border-radius: $border-radius;
    }
  }
}

#centro {
  width: 50%;
  background-color: gainsboro;
}


#mas {
  background-color: $main-theme-color;
  font-size: xx-large;
  text-decoration: none;
  color: #000;
  padding: 15px 20px;
  border-radius: $border-radius;
}

#informacion {
  font-size: larger;
}

#envios-container {
  background-color: $main-theme-color;
  border-radius: $border-radius;
  padding: 10px;
  margin: 10px 0;;
  align-items: center;
  h4 {
    font-size: larger;
  }
}

#montos {
	text-align: end;
}

#totales > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#enviar {
  display: block;
  width: 100%;
  margin-top: 40px;
  font-size: larger;
  background-color: $main-theme-color;
  border: unset;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: $border-radius;
  font-weight: bold;
}

dialog {
  background-color: $main-theme-color;
  border-radius: $border-radius;
  border: unset;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.150);
  div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    &:first-of-type {
      background-color: rgb(211,255,211);
    }
    &:last-of-type {
      background-color: rgb(255,211,211);
    }

    span:first-child {
      font-size: x-large;
    }

  }
  p {
    font-size: x-large;
    text-align: center;
  }
}