@import 'variables.scss';

#container {
  height: 100px;
  display: flex;
  background-color: $color-principal;
  border-radius: $border-radius-chico;
  overflow: hidden;
  font-size: small;
}

#foto {
  flex: 2;
  height: 100%;
  width: 25%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  img {
    height: 20px;
    margin-bottom: 5px;
    margin-bottom: 10px;
    background-color: $color-sello-comida;
    border-radius: $border-radius-grande;
    &:first-child {
      margin-left: 10px;
    }
  }
}

#detalles {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

ul li {
  display: inline;
  font-size: x-small;
  &:not(:last-of-type)::after {
    content: ',';
  }
}

#precio {
  text-align: end;
  font-weight: bold;
}