
<div class="card__product-container">

  <div class="card__product-bg" [ngStyle]="{'background-image': 'url('+producto.fotoUrl+')'}">
    <img *ngIf="producto.esCeliaco" src="./../../../../assets/icons/celiaco.png" alt="Apto celíaco">
    <img *ngIf="producto.esVegano" src="./../../../../assets/icons/vegano.svg" alt="Apto vegano">
  </div>
  <div class="card__product-price">
    <p>{{producto.precio + 3.15}} €</p>
  </div>

  <div class="card__product-detail">
    <h4 class="card__product-name">{{producto.nombre}}</h4>
  </div>
  
</div>







<!-- <ul>
  <li *ngFor="let ingrediente of producto.ingredientes">{{ingrediente}}</li>
</ul> -->