<div [ngClass]="gridLayout?'card-product__container-grid':'card-product__container-flex'">

  @if (gridLayout) {
    <div class="card-product__head">
      <div 
        class="card-product__bg-grid" 
        [ngStyle]="{'background-image': 'url('+producto?.fotoUrl+')'}">
        <img 
          *ngIf="producto?.esCeliaco" 
          src="./../../../../assets/icons/celiaco.png" 
          alt="Apto celíaco">
        <img *ngIf="producto?.esVegano" 
          src="./../../../../assets/icons/vegano.svg" 
          alt="Apto vegano">
      </div>
      <h4 class="card-product__name">{{producto?.nombre}}</h4>
      <span *ngIf="showIngridients">{{producto?.ingredientes}}</span>
    </div>
    
    <div class="card-product__detail">
      <div *ngIf="showPrice" class="card-product__price">
        <p>{{producto?.precio}} €</p>
        <span *ngIf="showBtn" class="card-product__btn">
          <i class="pi pi-plus"></i>
        </span>
      </div>
    </div>
  } @else {
    <div class="card-product__bg-flex" 
      [ngStyle]="{'background-image': 'url('+producto?.fotoUrl+')'}">
      <img 
        *ngIf="producto?.esCeliaco" 
        src="./../../../../assets/icons/celiaco.png" 
        alt="Apto celíaco">
      <img 
        *ngIf="producto?.esVegano" 
        src="./../../../../assets/icons/vegano.svg" 
        alt="Apto vegano">
    </div>
    <div>
      <h4 
        class="card-product__name">{{producto?.nombre}}</h4>
      <span 
        class="card-product__ingredients" 
        *ngIf="showIngridients">
        @for (ingredient of producto?.ingredientes; track ingredient) {
          {{ingredient}},
        }
      </span>
    </div>
  }

</div> 