@mixin full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin h-center {
  display: flex;
  justify-content: center;
}

@mixin v-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin app-button(
  $bg-color: $btn-color,
  $color: #FFF,
  $border: $btn-border-color
  ) {
  width: 100%;
  max-width: 19rem;
  margin-bottom: 1rem;
  background-color: $bg-color;
  color: $color;
  text-align: center;
  font-size: 1rem;
  height: 4rem;
  border:unset;
  border-bottom: .25rem solid $border;
  border-radius: 1rem;
  transition: .1s;
  cursor: pointer;
  &:active {
    border-width: 0
  }

}

@mixin app-input() {
  min-height: 2rem;
  border: 0;
  //border-bottom: 2px solid $btn-border-color;
  padding: 0.3rem 0.6rem;
  border-radius: .4rem;
}

@mixin app-focus() {
  &:focus {
    outline: 0;
    box-shadow: 
      0 0 0px 2px #4949E7, 
      0 0 0px 4px $white-color;
    color: #4949e7;
    font-weight: 600;
    transition: .2s;
  }
}