//main-colors

$color: #3C4858;
$main-theme-color: #4949E7;
$btn-color: #8384F8;
$btn-danger-color: #F88383;
$btn-border-color: #6364EB;
$btn-border-danger-color: #EB6363;
$white-color: #EEF4FB;
$hospital-green: #ACD9B2;
$border-radius: 1rem;