<div class="counter__container">

  <button 
    *ngIf="numero() <= 1 && cart"
    class="counter__btn-delete"
    [disabled]="numero() === 2" 
    (click)="$removeItem()">
    <i class="pi pi-trash"></i>
  </button>

  <button *ngIf="numero() > 1"
    class="counter__btn"
    [disabled]="numero()<= 1 " 
    (click)="actualizarNumero(-1)">
    <i class="pi pi-minus"></i>
  </button>

  <span class="counter__quantity">{{numero()}}</span>

  <button class="counter__btn"
    (click)="actualizarNumero(1)">
    <i class="pi pi-plus"></i>
  </button>
</div>