@import 'variables.scss';

$altura: 30px;

#container {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: $altura;
  background-color: $color-principal-claro;
  border-radius: $border-radius;
  overflow: hidden;
}

button {
  border: unset;
  font-weight: bold;
  background-color: $color-principal;
  padding: 0 10px;
}

span {
  line-height: $altura;
}